{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <h5 class="title">Add Task</h5>
            <form action="" method="post" enctype="multipart/form-data">
                {{ form.csrf_token }}
                <p>Task name: {{ form.name }}</p>
                <p>Short description: {{ form.description }}</p>
                <p class="due-day">Due: {{ form.due_day }}</p>
                <div class="switch">
                    <label>
                        <input type="checkbox" value="{{ form.important }}">
                      <span class="lever"></span>
                      Important
                    </label>
                </div>
                <p>{{ form.submit(class_="btn-edit-form waves-effect waves-light btn") }}</p>
            </form>
    </div>
</div>
{% endblock %}